extends ../layout/layout
include ../mixins/card

block content
    div.main_game
        //- button.btn_success Success
        //- button.btn_fail Fail
        div.table(data-id=game.number)
            div.game_header
                div.game_header_child#time 00:00:00
                div.game_header_child=pageTitle
                div.game_header_child.box_game_btn
                    div 
                        button#btn_newGame New Game 
                    div 
                        button#btn_retry Retry
                    div 
                        button#btn_undo Undo
            div.cell
                div.freeCell
                    each id in [0,1,2,3]
                        div(id=`free${id}` class="free")
                div.homeCell
                    each id in ["c0","d1","s2","h3"]
                        div(id=`${id[0]}home${Number(id[1])}` class="home" style=`background-image: url('https://hifreecell-mini.s3.amazonaws.com/images/${id}.png')`)
            div.deck
                each column, idx in game.deck
                    div(id=`column${idx}` class="column")
                        each card in column
                            +card(card)
            
    


block scripts
    script(src="/static/js/gamePlay.js")