extends ../layout/layout

block content
    div.main_userInfo
        div.userInfo_container
            div.profile_container
                div.box_avatar  
                    if user.socialOnly
                        img(src=user.avatar)
                    else
                        img(src="/" + user.avatar)
                    if isOwner
                        a(href="/users/edit")
                            i.fa-solid.fa-pen
                h1=user.username
                
            div.stats_container
                div.box_winRate
                    h1 Win Rate     
                    h2 #{userData.winRate}%
                div.box_summary
                    table.box_summary_row1
                        thead
                            tr
                                th Total
                                th Won
                                th Lost
                        tbody
                            tr 
                                td=userData.total
                                td=userData.won
                                td=userData.lost
  
                    table.box_summary_row2
                        thead
                            tr
                                th Shortest
                                th Average
                        tbody
                            tr 
                                td=userData.short
                                td=userData.avg